@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bgColor text-subHeadingText font-nunito;
    background-color: #f3f7fb;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.animate-sway {
  animation: sway 3s ease-in-out infinite;
}
